body {
    p {
        background: green;
    }
    .lorem {
        display: inline-block;
        width: 200px;
        height: 300px;
        overflow: auto;
    }
    input::placeholder {
        color:red;
    }
    .block1 {
        width: 100px;
    }
    .block2 {
        width: 100px;
    }
}