@font-face {
    font-family: 'MyFont';
    src: url('./GoogleSans-Regular.ttf');
    font-weight: 600;
    font-style: normal;

}

.hello {
    color: red;
    background: url('./phones.png');
    font-family: 'MyFont';
}